.nested-fields
  = f.input :name
  = f.input :product_type
  = f.input :product_cycle
  = f.simple_fields_for :lattest_purchase, f.object.lattest_purchase.present? ? f.object.lattest_purchase : f.object.build_lattest_purchase do |purchase|
    .purchase-fields
      =purchase.input :quantity
      =purchase.input :unit_measurement
      =purchase.input :store 
  = link_to_remove_association "remove product", f

