%h1.text-center My grocery app 
.container
  .small-12.medium-12.large-6.columns
    = link_to "Edit list", edit_list_path(@list)
    %h5 Grocery list
    %table
      %thead
        %tr
          %th Name
          %th Product Type
          %th 
      %tbody
        - @products_to_buy.each_with_index do |product, index|
          %tr
            %td= product.name
            %td= product.product_type
            %td= link_to "Got it?", edit_product_path(product)
  
  .small-12.medium-12.large-6.columns
    %h5 Inventory
    %table
      %thead
        %tr
          %th Name
          %th Product Type
          %th Quantity
          %th Unit measurement 
          %th Expiration date 

      %tbody
        - @products_stock.each_with_index do |product, index|
          %tr
            %td= product.name
            %td= product.product_type
            %td= product.lattest_purchase.quantity
            %td= product.lattest_purchase.unit_measurement
            %td= product.lattest_purchase.expiration_date

= smart_listing_render(:products_to_buy)

            
    