%h1.text-center My grocery app 
.container
  .small-12.medium-12.large-6.columns
    = link_to "Edit list", edit_list_path(@list)
    %h5 Grocery list
    %table
      %thead
        %tr
          %th Name
          %th Product Type
          %th 
      %tbody
        - @products.each_with_index do |product, index|
          %tr
            %td= product.name
            %td= product.product_type
            %td= link_to "Got it?", edit_product_path(product)
  
  .small-12.medium-12.large-6.columns
    %h5 Inventory
    %table
      %thead
        %tr
          %th Name
          %th Product Type 
      %tbody
        - @products.each_with_index do |product, index|
          %tr
            %td= product.name
            %td= product.product_type
            
    


  






